#show-contact {
  display: none;
  margin-left: 30px;
}

#wrapper1,
#wrapper2 {
  border: solid 3px black;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.jumbotron {
  border-bottom: solid 3px black;
  border-top: solid 3px black;
}

h1 {
  text-align: center;
  font-family: lobster;
  font-size: 60px;
}

body {
  background-color: skyblue;
}
/*
#add-address {
  display: block;
}

button {

}*/
